@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body {
    background-color: #242424;
}

/*---Header---*/
header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 25px 25px;
    text-align: center;
}

.title {
    width: max-content;
    position: relative;
    color: #ffffff;
}

/*---Input---*/
.input-container {
    display: flex;
    gap: 15px;
}

.input {
    width: 25%;
    height: 3em;
    border-radius: 10px;
    margin: 0px -4px 25px 25px;
    padding-left: 10px;
    border: 1px solid #ccc;
}

.input::placeholder {
    color: #505050;
}

.input:focus {
    outline: none;
    border: 1px solid #505050;
}

/*---Buttons---*/
.add-button-container {
    width: 2.5em;
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: linear-gradient(to right, #006eff, #ff00ff);
}

.add-button-container img {
    width: 20px;
    height: 20px;
}

.delete-button {
    width: 4.5em;
    height: 2.5em;
    border: none;
    border-radius: 10px;
    margin-left: 2em;
    color: rgb(255, 255, 255);
    background: linear-gradient(to right, #006eff, #ff00ff);
}

.edit-button {
    width: 4.5em;
    height: 2.5em;
    border: none;
    border-radius: 10px;
    margin-left: 2em;
    color: rgb(255, 255, 255);
    background: linear-gradient(to right, #006eff, #ff00ff);
}

.save-button {
    width: 4.5em;
    height: 2.5em;
    border: none;
    border-radius: 10px;
    margin-left: 2em;
    color: rgb(255, 255, 255);
    background: linear-gradient(to right, #006eff, #ff00ff);
}

.edit-button {
    width: 4.5em;
    height: 2.5em;
    border: none;
    border-radius: 10px;
    margin-left: 2em;
    color: rgb(255, 255, 255);
    background: linear-gradient(to right, #006eff, #ff00ff);
}

.edit-button-menu {
    width: 4.5em;
    height: 2.5em;
    border: none;
    border-radius: 10px;
    margin: 25px 0px 0px 25px;
    color: rgb(255, 255, 255);
    background: linear-gradient(to right, #006eff, #ff00ff);
}

/*---List---*/
.list {
    list-style-type: none;
    padding: 0px 25px;
}

.task-item {
    padding: 10px;
    border-top: 2px solid #353535;
    border-bottom: 2px solid #353535;
    margin-bottom: 5px;
    color: #ffffff;
}

/*---Edit Mode---*/
.edit-button-invisible {
    display: none;
}

.save-button-invisible {
    display: none;
}

/*---Menu---*/
.menu-container {
    width: 2.5em;
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-right: 1em;
    background: linear-gradient(to right, #006eff, #ff00ff);
}

.menu-container img {
    width: 20px;
    height: 20px;
}

.menu {
    width: 0px;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0px;
    transition: 0.5s;
    padding-top: 25px;
    overflow-x: hidden;
    background-color: #333333;
}

.close-container {
    width: 2.5em;
    height: 2.5em;
    margin-left: 75%;
    margin-top: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.close-container:hover {
    background-color: #505050;
}

.close-container img {
    width: 20px;
    height: 20px;
}

/*---Edit Input---*/
.edit-input {
    width: 15em;
    border: none;
    outline: none;
    border-bottom: 1px solid #ccc;
    padding-left: 10px;
    margin-left: 2em;
}

.edit-input::placeholder {
    color: #ccc;
}

/*---Legals---*/
.legals {
    width: 75%;
    margin: 25px 25px;
    position: absolute;
    bottom: 25px;
}

.legals ul {
    display: flex;
    justify-content: space-between;
}

.legals li {
    list-style-type: none;
    color: #aaaaaa;
}

.legals a {
    text-decoration: none;
    color: #ffffff;
}

/*---Copyright---*/
.copyright p {
    position: absolute;
    bottom: 0px;
    margin: 25px 25px;
    color: #686868;
    font-size: 10px;
}

/*---Responsive Design---*/
@media only screen and (max-width: 600px) {
    .input {
        width: 75%;
    }
}
